extends ../layout

block content
  doctype html
  html
    head
      link(rel="stylesheet", href="/stylesheets/items/create-item.css")
    body
      .form-header
        h2 Dodawanie przedmiotu

      form(action=`/panel/events/${event.id}/items/create` method="POST" enctype="multipart/form-data")
        // Pole dla nazwy itemu (wymagane)
        .field-row
          label(for="name") Nazwa przedmiotu:
          input(type="text" name="name" placeholder="Wpisz nazwę itemu" required)

        // Pola dla właściwości itemu
        #item-values-container
          each property, index in item_properties
            .field-row
              label #{property}:
              input(type="text" name=`item_values[${property}]` placeholder=default_values[index] value="")

        // Pole dla obrazka
        .field-row
          label(for="image") Obrazek (opcjonalnie):
          input(type="file" name="image" accept='image/*')

        // Przycisk dodawania
        button(type="submit") Dodaj Item
